
body
{
    background: url(img/efiltower.jpg) no-repeat;   
}

#top
{
 
    width: 40%;
    height: 40%;
    margin: 200px 500px;
}
#top a
{
    text-decoration: none;
    color: brown;
    font-weight: 200;
}
#top a:hover
{
    color: greenyellow;
}
div .first
{
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 251px;
    margin-bottom: 20px;
    padding: 28px 20px;
    font-size: xx-large;
}
div .second
{
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 251px;
    padding: 28px 20px;
    font-size: xx-large;}